.container-fluid {
  margin-top: 16px;
}
.list-group, .list-group-flush, .card, .card-header {
  border: none;
}
.card-header, .list-group-item {
  padding: 30px 0px;
  background-color: blue;
  border: 1px solid white;
  border-radius: 20px;
  margin: 5px;
  color: white;
}
a:hover {
  text-decoration: none;
}
.list-group-item {
  font-size: 2rem;
}
.list-group-item.disabled {
  color: white;
}
.isDisabled {
  pointer-events: none;
  cursor: not-allowed;
}
p {
  font-size: 4rem;
}